.header.clearfix
  a.logo.left(href="/")
    img(src="images/logo.png")
  nav.top-nav
    a.top-nav-item(href="#") РАЗМЕСТИТЬ ЗАКАЗ
    a.top-nav-item(href="#") НАЙТИ ЗАКАЗ
    a.top-nav-item(href="#") МАСТЕРАМ
    a.top-nav-item(href="#") КАК ЭТО РАБОТАЕТ?
    a.top-nav-item(href="#") ОТЗЫВЫ
  a.login-link(href="#") Войти
