doctype html
html
  include partials/_head
  body
    .wrapper
      include partials/_header
      .content
        img(src="images/main-bg.jpg")
      .footer
    include partials/_scripts
